<header itemscope itemtype="http://schema.org/WPHeader" id="l_header" class="l_header <%- theme.navbar.visiable %> <%- theme.custom_css.navbar.effect.join(' ') %> <%- theme.pjax_cover.headerShow %>" <%- (theme.navbar.visiable == 'auto' && theme.cover.height_scheme) ? "style='opacity: 0'" : "" %> >
  <div class='container'>
  <div id='wrapper'>
    <div class='nav-sub'>
      <p class="title"></p>
      <ul class='switcher nav-list-h m-phone' id="pjax-header-nav-list">
        <li><a id="s-comment" class="fa-solid fa-comments fa-fw" target="_self"  href="/" onclick="return false;" title="comment"></a></li>
        <% if (page.sidebar == undefined || page.sidebar != false) { %>
          <li><a id="s-toc" class="s-toc fa-solid fa-list fa-fw" target="_self"  href="/" onclick="return false;" title="toc"></a></li>
        <% } %>
      </ul>
    </div>
		<div class="nav-main">
      <% if (theme.navbar.logo) { %>
        <% let logo = theme.navbar.logo %>
        <a class="title flat-box" target="_self" href='<%- url_for("/") %>'>
          <% if (logo.img) { %>
            <img no-lazy class='logo' src='<%- logo.img %>'/>
          <% } %>
          <% if (logo.icon) { %>
            <i class='<%- logo.icon %>'></i>
          <% } %>
          <% if (logo.title) { %>
            <%- logo.title %>
          <% } %>
        </a>
      <% } %>

      <!-- Custom Files header begin -->
      <%- volantis_inject('header') %>
      <!-- Custom Files header end -->
		</div>
	</div>
  </div>
</header>
